<h1> Welcome To Your New Personal Zoo </h1>

<form action="/animal_added">
  <div>
    <fieldset>
      <legend> Please pick which type of animal you would like to add: </legend>

      <label for="dog"> Dog </label>
      <input id="dog" type="radio" name="user_choice" value="dog">

      <label for="fox"> Fox </label>
      <input id="fox" type="radio" name="user_choice" value="fox">

      <label for="duck"> Duck </label>
      <input id="duck" type="radio" name="user_choice" value="duck">
    </fieldset>
  </div>

  <div>
    <label for="name"> What would you like to name your new animal? </label>
    <input id="name" type="text" name="user_name">
  </div>

  <div>
    <button> Add new animal friend! </button>
  </div>
</form>
